<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
                <div class="col-md-2">Filter by: </div>
                <div class="col-md-4">
                    <input 
                        type="text"
                        [(ngModel)]='listFilter'/>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{ listFilter }}</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1">
                <label for="rangeMin">Min value:</label>
                <input (change)="onRangeChange()" id="rangeMin" type="number" [(ngModel)]="rangeMin">
            </div>
            <div class="col-md-1">
                <label for="rangeMax">Max value:</label>
                <input (change)="onRangeChange()" id="rangeMax" type="number" [(ngModel)]="rangeMax">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="customRange" class="form-label">Move the slider back and forth</label>
                <input id="customRange" [(ngModel)]='rangeValue' type="range" step="1" class="form-range" [min]="rangeMin" [max]="rangeMax" [disabled]="isRangeDisabled">
                <span>Current slider value: {{ rangeValue }}</span>
            </div>
        </div>
        <hr>
        <div class="table-responsive" *ngIf="productList.length > 0">
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th scope="col">
                            <button
                                (click)="onToggleImage()"
                                class="btn btn-primary">
                                {{ showImage ? 'Hide' : 'Show' }} Image
                            </button>
                        </th>
                        <th scope="col">Product</th>
                        <th scope="col">Code</th>
                        <th scope="col">Available Since</th>
                        <th scope="col">Price</th>
                        <th scope="col">5 Star Rating</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let product of productList">
                        <td>
                            <img *ngIf="showImage"
                                [src]="product.imageUrl"
                                [title]="product.productName"
                                [style.width.em]="imageWidthInEm"
                                [style.margin.em]="imageMarginInEm" />
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | uppercase | convertToSpaces:'-' }}</td>
                        <td>{{ product.releaseDate | date:'d MMMM y':'pt' }}</td>
                        <td>{{ product.price | currency:'BRL':'symbol-narrow':'1.2-2':'pt' }}</td>
                        <td>
                            <pm-star
                                (ratingClickNotifier)='onRatingClicked($event, product.productId)'
                                [rating]="product.starRating">
                            </pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>