<div class="card">
    <div class="card-header">
        {{ pageTitle }}
    </div>
    <div class="card-body">
        <div class="row">
                <div class="col-md-2">Filter by: </div>
                <div class="col-md-4">
                    <input 
                        type="text"
                        [(ngModel)]='listFilter'/>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{ listFilter }}</h4>
            </div>
        </div>
        <div class="table-responsive" *ngIf="products.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <button
                                (click)="onToggleImage()"
                                class="btn btn-primary">
                                {{ showImage ? 'Hide' : 'Show' }} Image
                            </button>
                        </th>
                        <th scope="col">Product</th>
                        <th scope="col">Code</th>
                        <th scope="col">Available Since</th>
                        <th scope="col">Price</th>
                        <th scope="col">5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                            <img *ngIf="showImage"
                                [src]="product.imageUrl"
                                [title]="product.productName"
                                [style.width.em]="imageWidthEm"
                                [style.margin.em]="imageMarginEm" />
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate | date:'d MMMM y':'pt' }}</td>
                        <td>{{ product.price | currency:'BRL':'symbol-narrow':'1.2-2':'pt' }}</td>
                        <td>{{ product.starRating }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>